[package]
name = "wastebin"
version = "2.4.3"
edition = "2021"
rust-version = "1.70"

[dependencies]
askama = { version = "0.12", default-features = false, features = ["with-axum"] }
askama_axum = { version = "0.4" }
async-compression = { version = "0.4", features = ["tokio", "zstd"] }
axum = { version = "0.7", features = ["json", "query"] }
axum-extra = { version = "0", features = ["cookie-signed", "typed-header"] }
bytes = "1"
chacha20poly1305 = "0.10.1"
hex = "0"
lru = "0"
mime = "0"
qrcodegen = "1"
rand = "0"
rusqlite = { version = "0.30", features = ["bundled"] }
rusqlite_migration = { version = "1.1", default-features = false }
rust-argon2 = "2.0.0"
sha2 = "0"
serde = { version = "1", features = ["derive"] }
syntect = { version = "5", default-features = false, features = ["html", "plist-load", "regex-fancy"] }
thiserror = "1"
time = { version = "0.3", features = ["macros", "serde"] }
tokio = { version = "1", features = ["full"] }
tower = { version = "0", default-features = false }
tower-http = { version = "0", features = ["compression-full", "limit", "timeout", "trace"] }
tracing = "0"
tracing-subscriber = "0"
url = "2"
zstd = "0.13"
parking_lot = "0.12.1"

[dev-dependencies]
hyper = { version = "1", features = ["server"] }
reqwest = { version = "0", default-features = false, features = ["cookies", "json"] }
tower = { version = "0", default-features = false, features = ["util", "make"] }
tower-service = "0"

[lints.rust]
unsafe_code = "forbid"

[lints.clippy]
unwrap_used = "deny"

[profile.release]
strip = "debuginfo"
lto = "fat"
