[licenses]
allow = [
    "MIT",
    "Apache-2.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "Unicode-3.0",
    "Zlib",
]

[licenses.private]
ignore = true

[bans]
multiple-versions = "allow"

[advisories]
ignore = [
    { id = "RUSTSEC-2025-0141", reason = "unmaintained but open for CVE fixes" }
]
