{% extends "base.html" %}
{% block content %}
<div class="flex-center">
  <div class="dialog">
    <div class="dialog-header">Burn after reading</div>
    <div class="dialog-section">
      This paste will be <strong>permanently deleted</strong> the moment it is revealed.
      You will not be able to view it again.
    </div>
    {% if let Some(title) = title %}
    <div class="dialog-section dialog-subtitle">{{ title }}</div>
    {% endif %}
    <form class="dialog-section dialog-actions" action="{{ path_prefix }}/{{ id }}" method="post">
      <input type="hidden" name="confirm_burn" value="1">
      <a class="button button-secondary" href="{{ path_prefix }}/">cancel</a>
      <button class="button" type="submit">reveal</button>
    </form>
  </div>
</div>
{% endblock %}
