{% extends "base.html" %}

{% block content %}
  <div class="center">
{% if ext.is_empty() %}
    <form action="/{{ id }}{{ query }}" method="post">
{% else %}
    <form action="/{{ id }}.{{ ext }}{{ query }}" method="post">
{% endif %}
<div class="decrypt-container">
      <div style="grid-row: 1/2;">
        <label for "password">Password</label>
        <input type="password" name="password" />
      </div>
      <div style="grid-row: 2/3;">
        <button class="button">Decrypt</button>
      </div>
  </div>
    </form>
  </div>
{% endblock %}
