{% extends "base.html" %}

{% block head %}
<script defer src="{{ base_path.join("index.js") }}"></script>
{% endblock %}

{% block nav %}
    <li><button id="open" class="navigation">open</button></li>
{% endblock %}

{%- block content -%}
    <form id="form" action="{{ base_path.path() }}" method="post">
      <div class="container">
        <div class="content">
          <textarea id="text" name="text" autocorrect="off" autocomplete="off" spellcheck="false" placeholder="<paste text or drop file here>" autofocus></textarea>
        </div>
        <div class="controls">
          <div class="extensions-list">
            <select name="extension" id="langs" size="17">
            {%- for syntax in meta.highlight.syntaxes -%}
              {%- if syntax.file_extensions.len() > 0 %}
              <option value="{{ syntax.file_extensions.first().unwrap() }}">{{ syntax.name }}</option>
              {%- endif -%}
            {%- endfor %}
            </select>
          </div>
          <div class="extension-filter">
            <input type="search" id="filter" placeholder="Filter ...">
          </div>
          <div class="expiration-list">
            <select name="expires" size="8">
              {{- Self::expiry_options(self)|safe }}
            </select>
          </div>
          <div class="password">
            <input type="password" name="password" id="password" placeholder="Password ...">
          </div>
          <div class="paste-button">
            <button type="submit" title="Paste" class="button">Paste</button>
          </div>
        </div>
      </div>
    </form>
{%- endblock -%}
