{% extends "base.html" %}

{% block head %}
<script>
  function dropHandler(ev) {
    ev.preventDefault();

    let textarea = document.getElementById('text');

    if (ev.dataTransfer.items) {
      const item = ev.dataTransfer.items[0];

      if (item.kind === 'file') {
        item.getAsFile().text().then((value) => textarea.value = value);
      }
    } else {
      const item = ev.dataTransfer.files[0];
      item.text().then((value) => textarea.value = value);
    }
  }

  function dragOverHandler(ev) {
    ev.preventDefault();
  }

  function filterLangs(ev) {
    ev.preventDefault();
    let langs = document.getElementById("langs");
    const term = document.getElementById("filter").value.toLowerCase();

    for (option of langs) {
      if (option.innerText.toLowerCase().includes(term)) {
        option.style.display = "";
      }
      else {
        option.style.display = "none";
      }
    }
  }
</script>
{% endblock %}

{%- block content -%}
    <form action="/" method="post">
      <div class="container">
        <div class="content">
          <textarea id="text" name="text" autocorrect="off" autocomplete="off" spellcheck="false" placeholder="<paste text or drop file here>" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);"></textarea>
        </div>
        <div class="expiration-list">
          <select name="expires" size="7">
            <option selected="" value="">never</option>
            <option value="600">10 minutes</option>
            <option value="3600">1 hour</option>
            <option value="86400">1 day</option>
            <option value="604800">1 week</option>
            <option value="215308800">1 year</option>
            <option value="burn">🔥 after reading</option>
          </select>
        </div>
        <div class="extensions-list">
          <select name="extension" id="langs" size="23">
          {%- for syntax in meta.highlight.syntaxes -%}
            {%- if syntax.file_extensions.len() > 0 %}
            <option value="{{ syntax.file_extensions.first().unwrap() }}">{{ syntax.name }}</option>
            {%- endif -%}
          {%- endfor %}
          </select>
        </div>
        <div class="paste-button">
          <button type="submit" title="Paste">Paste</button>
        </div>
        <div class="extension-filter">
          <input type="search" id="filter" placeholder="Filter ..." onchange="filterLangs(event);" onkeyup="filterLangs(event)"></input>
        </div>
      </div>
    </form>
{%- endblock -%}
