{% extends "base.html" %}

{% block head %}
<script defer src="{{ base_path.join("paste.js") }}"></script>
{% endblock %}

{% block body_top %}
<span id="js_base_path" hidden>{{ base_path.path() }}</span>
<span id="js_base_path_id" hidden>{{ base_path.join(id) }}</span>
<span id="js_ext" hidden>{{ ext }}</span>
{% endblock %}

{% block nav %}
  {% if can_delete %}
    <li><a href="{{ base_path.join("delete/") }}{{ id }}"><button>delete</button></a></li>
  {% endif %}
    <li><a href="{{ base_path.join(id) }}?dl={{ ext }}"><button>download</button></a></li>
    <li><a href="{{ base_path.join(id) }}?fmt=raw"><button>raw</button></a></li>
    <li><a href="{{ base_path.join(id) }}?fmt=qr"><button>qr</button></a></li>
{% endblock %}
