{% extends "base.html" %}

{% block head %}
<script>
  document.addEventListener('keydown', onKey);

  function onKey(e) {
    if (e.key == 'n') {
      window.location.href = '/';
    }
    else if (e.key == 'r') {
      window.location.href = '/{{ id }}?fmt=raw';
    }
    else if (e.key == 'y') {
      navigator.clipboard.writeText(window.location.href);
    }
    else if (e.key == 'd') {
      window.location.href = '/{{ id }}?dl={{ ext }}';
    }
    else if (e.key == '?') {
      var overlay = document.getElementById("overlay");

      overlay.style.display = overlay.style.display != "block" ? "block" : "none";
      overlay.onclick = function() {
        if (overlay.style.display == "block") {
          overlay.style.display = "none";
        }
      };
    }
  }
</script>
{% endblock %}

{% block nav %}
  {% if can_delete %}
    <li><a href="/delete/{{ id }}"><button>delete</button></a></li>
  {% endif %}
    <li><a href="/{{ id }}?dl={{ ext }}"><button>download</button></a></li>
    <li><a href="/{{ id }}?fmt=raw"><button>raw</button></a></li>
{% endblock %}

{% block content %}
  <div id="overlay">
    <div id="overlay-content">
      <table>
        <tr>
          <td><kbd>n</kbd></td>
          <td>Go home</td>
        </td>
        <tr>
          <td><kbd>y</kbd></td>
          <td>Copy URL</td>
        </td>
        <tr>
          <td><kbd>d</kbd></td>
          <td>Download</td>
        </td>
        <tr>
          <td><kbd>?</kbd></td>
          <td>Show this</td>
        </td>
      </table>
    </div>
  </div>
  <div id="code">
    <pre class="code">{{ html|safe }}</pre>
  </div>
{% endblock %}
