name: Upload theme showcase

permissions:
  contents: read

on:
  schedule:
    - cron: '32 1 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@1.88.0

      - name: Build
        run: |
          mkdir _site
          cargo run --bin wastebin-theme-showcase > _site/index.html

      - name: Upload
        id: deployment
        uses: actions/upload-pages-artifact@v4

  deploy:
    permissions:
      id-token: write
      pages: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    needs: build

    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
